<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RED - Dashboard</title>
  </head>
  <body>
    Hi <%= `${user.firstName}, welcome to your Dashboard.` %>. <a href="/logout">Click here to Logout</a>
  </body>
</html>
