{
  "name": "red-dev",
  "script": "./server.js",
  "watch": true,
  "watch_delay": 1000,
  "log_date_format"  : "YYYY-MM-DD HH:mm Z",
  "ignore_watch": [
    "node_modules",
    "*.log",
    "yarn.*",
    ".gitignore",
    "package.json",
    "samples",
    ".nvmrc",
    "README.md"
  ],
  "watch_options": {
    "followSymlinks": false
  },
  "args": ["--color"]
}
